{% extends "base.html" %}

{% block title %}Просмотр водителей{% endblock %}

{% block content %}
    <h1 class="mb-4">Просмотр водителей</h1>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Телефон</th>
                    <th>Права</th>
                    <th>Дата найма</th>
                    <th>ID техники</th>
                </tr>
            </thead>
            <tbody>
                {% for driver in drivers %}
                    <tr>
                        <td>{{ driver[0] }}</td>
                        <td>{{ driver[1] }}</td>
                        <td>{{ driver[2] }}</td>
                        <td>{{ driver[3] if driver[3] else '-' }}</td>
                        <td>{{ driver[4] }}</td>
                        <td>{{ driver[5] }}</td>
                        <td>{{ driver[6].strftime('%d.%m.%Y') if driver[6] else '-' }}</td>
                        <td>{{ driver[7] if driver[7] else '-' }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}