{% extends "base.html" %}

{% block title %}Отчеты{% endblock %}

{% block content %}
    <h1 class="mb-4">Отчеты</h1>
    
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">Основные отчеты</h5>
                </div>
                <div class="list-group list-group-flush">
                    <a href="{{ url_for('transport_cost_report') }}" class="list-group-item list-group-item-action">
                        Отчет по стоимости перевозок за год
                    </a>
                    <a href="{{ url_for('driver_efficiency_report') }}" class="list-group-item list-group-item-action">
                        Отчет по эффективности водителя
                    </a>
                    <a href="#" class="list-group-item list-group-item-action disabled">
                        Отчет по прибыли водителей (в разработке)
                    </a>
                    <a href="#" class="list-group-item list-group-item-action disabled">
                        Отчет по доходам от клиентов (в разработке)
                    </a>
                </div>
            </div>
        </div>
        
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <h5 class="mb-0">Статистические отчеты</h5>
                </div>
                <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-action disabled">
                        Статистика клиента (в разработке)
                    </a>
                    <a href="{{ url_for('gas_stats_report') }}" class="list-group-item list-group-item-action">
                        Статистика заправок
                    </a>
                    <a href="#" class="list-group-item list-group-item-action disabled">
                        Статистика обслуживания (в разработке)
                    </a>
                </div>
            </div>
        </div>
        
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header bg-info text-white">
                    <h5 class="mb-0">Графики</h5>
                </div>
                <div class="list-group list-group-flush">
                    <a href="{{ url_for('revenue_orders_chart') }}" class="list-group-item list-group-item-action">
                        График выручки и заказов
                    </a>
                    <a href="#" class="list-group-item list-group-item-action disabled">
                        График заказов по водителям (в разработке)
                    </a>
                    <a href="#" class="list-group-item list-group-item-action disabled">
                        Распределение типов топлива (в разработке)
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}